<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chilam.websiteback.mapper.VideoMapper">
    <resultMap id="BaseResultMap" type="cn.chilam.websiteback.pojo.Video">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="upload_date" jdbcType="TIMESTAMP" property="date"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, url, role, size,upload_date
    </sql>

    <insert id="insert" parameterType="cn.chilam.websiteback.pojo.Video" useGeneratedKeys="true"
            keyProperty="id">
        insert into video (name, url, size)
        values (#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{size,jdbcType=BIGINT})
    </insert>

    <select id="getVideoInfoByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from video
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="getUrlByName" resultType="java.lang.String">
        select url
        from video
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="selectUrlById" resultType="java.lang.String">
        select url
        from video
        where id = #{id,jdbcType=INTEGER}
    </select>


</mapper>